{% load static %}
  <header class="header">
    <div class="logo">
      <div class="logo_image">
        <img
          src="{% static 'pages/images/soko.jpg' %}"
          alt="This is the logo for the enterprise"
        />
        
      </div>
      <div class="logo_name">
        <p>SoKonnect</p>
        <p>Enterprises</p>
      </div>
    </div>
    <div class="navigation">
      
      <a href="{%url 'home'%}" class="navs a_links">Home</a>
      <a href="about.html" class="navs a_links">About Us</a>
      <a href="products.html" class="navs a_links">Products</a>
      <a href="#contact" class="navs a_links">Contacts</a>
      <a href="login.html" class="navs a_links" id="login_button">Login</a>
      <a href="{%url 'signup'%}" class="navs a_links">Signup</a>
    </div>

    <div class="icons">
      <a href="#" class="icon" id="search_icon"
        ><i class="fa-solid fa-magnifying-glass"></i
      ></a>
      <a href="#" class="icon" id="cart_icon"
        ><i class="fa-sharp fa-solid fa-cart-shopping"></i
          ></a>
      <a href="#" class="icon" id="menu_icon"
        ><i class="fa-solid fa-bars"></i
      ></a>
      <a href="profile.html" class="icon" id="profile_icon"
        ><i class="fa-solid fa-user"></i
      ></a>
    </div>
    <!--this is the search bar-->
    <div class="search_container" id="search_container">
      <input
        type="search"
        placeholder="Search here..."
        class="searchbar"
        id="searchbar1"
      />
      <label for="searchbar1" class="fa-solid fa-magnifying-glass"></label>
    </div>
    <!--THis is where the cart file starts-->
    <div class="cart_container" id="cart_container">
      <div class="heading">
        <h2>Cart</h2>
      </div>
      <div class="cart-items">
        <pre>
          <ul class="item_list">
            
          </ul>
        </pre>
      </div>
      <pre>
    <div class="total">
      <p>Items    : <span id="item_cost">$0.00</span></p>
      <p>Tax      : <span id="tax">$0.00</span></p>
      <p>Shipping : <span id="shipping_cost">$0.00</span></p><br>
      <p>Total    : <span id="total_cost">$0.00</span></p>
      <button id="checkout">Place Order</button>
    </div>
    </pre>
    </div>

  {% load static %}
  <script src="{% static 'pages/index.js' %}"></script>
  </header>