<header class="header">
    <div class="logo">
      <div class="logo_image">
        <img src="/images/soko.jpg" alt="This is the logo for the enterprise" />
      </div>
      <div class="logo_name">
        <p>SoKonnect</p>
        <p>Enterprises</p>
      </div>
    </div>
    <div class="navigation">
      <a href="{% url 'home' %}" class="navs">Home</a>
      <a href="{% url 'login' %}" class="navs" id="login_button">Login</a>
  </div>
  

    <div class="icons">
      <a href="#" class="icon" id="search_icon"><i class="fa-solid fa-magnifying-glass"></i></a>
      <a href="#" class="icon" id="cart_icon"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
      <a href="#" class="icon" id="menu_icon"><i class="fa-solid fa-bars"></i></a>
    </div>
    <!--this is the search bar-->
    <div class="search_container" id="search_container">
      <input type="search" placeholder="Search here..." class="searchbar" id="searchbar1" />
      <label for="searchbar1" class="fa-solid fa-magnifying-glass"></label>
    </div>
  </header>