<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script
      src="https://kit.fontawesome.com/4d99246f7d.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>
</head>
<body>
    <header class="header">
        <div class="logo">
            <div class="logo_image">
                <img src="{% static 'images/soko.jpg' %}" alt="This is the logo for the enterprise">
            </div>
            <div class="logo_name">
                <p>SoKonnect</p>
                <p>Enterprises</p>
            </div>
        </div>
        <div class="navigation">
            <a href="{% url 'home' %}" class="navs a_links">Home</a>
            <a href="{% url 'about' %}" class="navs a_links">About Us</a>
            <a href="{% url 'products' %}" class="navs a_links">Products</a>
            <a href="#contact" class="navs a_links">Contacts</a>
            <a href="{% url 'login' %}" class="navs a_links" id="login_button">Login</a>
            <a href="{% url 'register' %}" class="navs a_links">Signup</a>
            <a href="#" onclick="addProductfunc()" class="navs a_links">Add Product</a>
        </div>

        <div class="icons">
            <a href="#" class="icon" id="search_icon"><i class="fa-solid fa-magnifying-glass"></i></a>
            <a href="#" class="icon" id="cart_icon"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
            <a href="#" class="icon" id="menu_icon"><i class="fa-solid fa-bars"></i></a>
            <a href="{% url 'profile' %}" class="icon" id="profile_icon"><i class="fa-solid fa-user"></i></a>
        </div>

        <!-- Search bar -->
        <div class="search_container" id="search_container">
            <input type="search" placeholder="Search here..." class="searchbar" id="searchbar1">
            <label for="searchbar1" class="fa-solid fa-magnifying-glass"></label>
        </div>

        <!-- Cart container -->
        <div class="cart_container" id="cart_container">
            <div class="heading">
                <h2>Cart</h2>
            </div>
            <div class="cart-items">
                <pre>
                    <ul class="item_list"></ul>
                </pre>
            </div>
            <pre>
                <div class="total">
                    <p>Items    : <span id="item_cost">KSh 0.00</span></p>
                    <p>Tax      : <span id="tax">KSh 0.00</span></p>
                    <p>Shipping : <span id="shipping_cost">KSh 0.00</span></p><br>
                    <p>Total    : <span id="total_cost">KSh 0.00</span></p>
                    <button id="checkout">Place Order</button>
                </div>
            </pre>
        </div>
    </header>

    <main>
        <!-- Add product section -->
        <div class="add_product" id="add_product">
            <div class="product_infor">
                <div class="close">&times;</div>
                <div>
                    <h1>About Your Product</h1>
                </div>
                <div>
                    <label for="product_nm">Product name</label>
                    <input type="text" id="product_nm" required>
                </div>
                <div>
                    <label for="product_prc">Price</label>
                    <input type="text" id="product_prc" required>
                </div>
                <div>
                    <label for="product-qty">Quantity</label>
                    <input type="text" id="product-qty" required>
                </div>
                <div>
                    <label>Product Description</label>
                    <textarea required cols="60" rows="7" placeholder="Give a detailed description of your product here...."></textarea>
                </div>
                <div>
                    <label for="product_img">Product Image</label>
                    <input type="file" id="product_img" required>
                </div>
                <div>
                    <button type="submit">Add</button>
                </div>
            </div>
        </div>

        <!-- Home page content -->
        <div class="home">
            <div class="grid_item elements">
                <div class="accesories">
                    <div class="images">
                        <img src="{% static 'images/bed6.jpg' %}" class="image1">
                        <img src="{% static 'images/fruit1.jpg' %}" class="image2">
                        <img src="{% static 'images/cabbage1.jpg' %}" class="image3">
                        <img src="{% static 'images/bull.jpg' %}" class="image4">
                    </div>
                    <div class="accesories_text"></div>
                </div>
            </div>
            <div class="grid_item elements" id="grid2">
                <div class="mytext">
                    <h2>Sokonnect: Shopping Made Simple.</h2>
                    <div>
                        <p>
                            Our intuitive platform makes it easy to find what you need,
                            quickly and securely. Browse our extensive catalog, compare
                            prices, and enjoy a hassle-free checkout process. Shop smarter,
                            not harder, with Sokonnect.
                        </p>
                        <p>
                            Find everything you're looking for and more with our vast
                            selection of products, all in one easy-to-use platform. Browse
                            millions of items, compare prices from top sellers, and enjoy a
                            seamless checkout experience. Shopping has never been this
                            simple.
                        </p>
                    </div>
                </div>
            </div>
            <div class="grid_item elements">
                <div class="sports">
                    <div class="images"></div>
                    <div class="sports_text"></div>
                </div>
            </div>
            <div class="grid_item elements">
                <div class="center_sokonnect">
                    <div class="images">
                        <img src="{% static 'images/soko.jpg' %}">
                    </div>
                    <div class="sokonnect_text">
                        <h2>SoKonnect Enterprises</h2>
                    </div>
                </div>
            </div>
            <div class="grid_item elements">
                <div class="machinery">
                    <div class="images"></div>
                    <div class="machinery_text"></div>
                </div>
            </div>
            <div class="grid_item elements" id="grid6">
                <div class="mytext">
                    <h3>Sokonnect: Where Buyers and Sellers Connect.</h3>
                    <div>
                        <p>
                            Join our vibrant community of shoppers and discover unique finds
                            from local businesses and trusted brands. Support small
                            businesses, explore a diverse marketplace, and connect with
                            sellers who share your passion.
                        </p>
                        <p>
                            Your Community Marketplace. Discover one-of-a-kind treasures and
                            connect with the passionate sellers who create them. Join a
                            vibrant community of shoppers and support local businesses,
                            artisans, and independent brands. Find something truly special
                            on Sokonnect.
                        </p>
                    </div>
                </div>
            </div>
            <div class="grid_item elements">
                <div class="books">
                    <div class="images">
                        <img src="{% static 'images/carrots1.jpg' %}" class="image1">
                        <img src="{% static 'images/closet.jpeg' %}" class="image2">
                        <img src="{% static 'images/tshirt4.png' %}" class="image3">
                        <img src="{% static 'images/garlic2.jpg' %}" class="image4">
                    </div>
                    <div class="books_text"></div>
                </div>
            </div>
        </div>

        <div class="new_arrivals">
            <h1>#New Arrivals</h1>
            <div class="grid_arr">
                {% for product in recent_arrivals %}
                <div class="product">
                    <div class="image">
                        <img src="{% static product.image %}" alt="{{ product.name }}">
                    </div>
                    <div class="description">
                        <p class="product_name">{{ product.name }}</p>
                        <p class="product_price">KSh {{ product.price }}</p>
                    </div>
                    <div class="product_btns">
                        <button>Add to Cart</button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="most_popular">
            <h1>#Most Popular</h1>
            <div class="grid_arr">
                {% for product in most_popular %}
                <div class="product">
                    <div class="image">
                        <img src="{% static product.image %}" alt="{{ product.name }}">
                    </div>
                    <div class="description">
                        <p class="product_name">{{ product.name }}</p>
                        <p class="product_price">KSh {{ product.price }}</p>
                    </div>
                    <div class="product_btns">
                        <button>Add to Cart</button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>


        <!-- Contact section -->
        <div class="contact_container" id="contact">
            <h2>Contact <span>Us</span></h2>
            <div class="contact_part">
                <div id="map"></div>
                <script>
                    var map = L.map("map").setView([0.42013, 36.94759], 5);
                    L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
                        maxZoom: 19,
                        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
                    }).addTo(map);
                </script>
                <div class="message">
                    <form action="#" method="post">
                        {% csrf_token %}
                        <div>
                            <label for="message_name">Name</label><br>
                            <input type="text" id="message_name" name="name" required>
                        </div>
                        <div>
                            <label for="message_email">Email</label><br>
                            <input type="email" id="message_email" name="email" required>
                        </div>
                        <div>
                            <label for="message_input">Message</label><br>
                            <textarea id="message_input" rows="12" cols="43" placeholder="Write your message here..." required></textarea>
                        </div>
                        <div>
                            <button type="submit" id="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Footer section -->
        <div class="copyright">
            <div class="aboutus">
                <h2>About Us</h2>
                <div>
                    <ul>
                        <li><a href="{% url 'about' %}">About Sokonnect</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Cookie Policy</a></li>
                        <li><a href="#">Billing Policy</a></li>
                        <li><a href="#">Services</a></li>
                    </ul>
                </div>
            </div>
            <div class="support">
                <h2>Support</h2>
                <div>
                    <ul>
                        <li><a href="#">support@sokonnect.co.ke</a></li>
                        <li><a href="#">Safety tips</a></li>
                        <li><a href="#contact">Contact Us</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="socials">
                <h2>Our Socials</h2>
                <div>
                    <ul>
                        <li><a href="#"><i class="fa-brands fa-facebook"></i>Facebook</a></li>
                        <li><a href="#"><i class="fa-brands fa-tiktok"></i>Tiktok</a></li>
                        <li><a href="#"><i class="fa-brands fa-youtube"></i>Youtube</a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i>X (Twitter)</a></li>
                    </ul>
                </div>
            </div>
            <div class="copyrighttext">
                <div class="copyrighttxt">
                    &copy; 2025 SoKonnect. All rights reserved. |
                    <a href="/privacy-policy">Privacy Policy</a> |
                    <a href="/terms-of-service">Terms of Service</a>
                </div>
            </div>
        </div>
    </main>

    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>