{% extends "main.html" %}

{% block content %}
  <body>

    <!--Header ends here-->

    <!--The login/register form starts here-->

    <div class="wrapper" id="wrapper">
      <div class="wrapper1" id="wrapper1">
        <a href="{% url 'home' %}">
          <div class="remove" id="remove2">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </a>
        <div class="form_box login">
          <h2>LogIn</h2>
          <hr />
          <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="input_box">
              <span><i class="fa-solid fa-envelope"></i></span>
              <input type="email" id="email" name="email" required />
              <label for="email">Email</label>
            </div>
            <div class="input_box">
              <span><i class="fa-solid fa-lock"></i></span>
              <input type="password" id="password" name="password" required />
              <label for="password">Password</label>
            </div>
            <div class="remember_forgot">
              <div class="remember">
                <input type="checkbox" id="remember" name="remember" />
                <label for="remember">Remember me</label>
              </div>
              <div class="forgot">
                <a href="{% url 'forgot_password' %}">Forgot password?</a>
              </div>
            </div>
          
            {% if messages %}
              <ul>
                {% for message in messages %}
                  <li class="error">{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          
            <div class="login_btn">
              <button type="submit">Login</button>
            </div>
            <div class="register-login">
              <p>
                Don't have an account?
                <a href="{% url 'signup' %}" id="register_link">Register!</a>
              </p>
            </div>
          </form>
          
          
        </div>
      </div>
    </div>

    <!--The login/register form ends here-->
    {% load static %}

    <img src="{% static 'images/logo.png' %}" alt="Logo">
    
  </body>
  
{% endblock content %}
