{% extends "main.html" %}
{% block content %}
{% load static %}
<body>
    
      <div class="wrapper " id="wrapper">
        <div class="buyerseller">
            <p>Register as a?</p>
            <div class="busel">
                 <button class="buyer" onclick="buse()"><p>BUYER</p></button>                
                 <button class="seller" onclick="buse1()"><p>SELLER</p></button>
            </div>
           
        </div>
        <div class="wrapper1 reg_wrapper">
          <a href="{%url 'home'%}"
            ><div class="remove" id="remove2">
              <i class="fa-solid fa-xmark"></i></div
          ></a>
  
          <!--This section is for the registration part -->
  
          <div class="form_box register">
            <h2>Registration</h2>
            <hr />
            <form action="{% url 'signup' %}" method="POST">
              {% csrf_token %}
              <div class="input_box">
                <span><i class="fa-solid fa-user"></i></span>
                <input type="text" id="name" name="name" required />
                <label for="name">Name</label>
              </div>
            
              <div class="input_box">
                <span><i class="fa-solid fa-envelope"></i></span>
                <input type="email" id="email" name="email" required />
                <label for="email">Email</label>
              </div>
            
              <div class="input_box">
                <span><i class="fa-solid fa-lock"></i></span>
                <input type="password" id="password" name="password" required />
                <label for="password">Password</label>
              </div>
            
              <div class="input_box">
                <span></span>
                <input type="password" id="confirm_password" name="confirm_password" required />
                <label for="confirm_password">Confirm Password</label>
              </div>
            
              <div class="remember_forgot">
                <div class="remember">
                  <input type="checkbox" id="remember" name="remember" />
                  <label for="remember">Agree to terms & conditions</label>
                </div>
              </div>
            
              {% if messages %}
                <ul>
                  {% for message in messages %}
                    <li class="error">{{ message }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            
              <div class="login_btn">
                <button type="submit">Register</button>
              </div>
            
              <div class="register-login">
                <p>
                  Already have an account? <a href="{% url 'login' %}" id="login_link">Login!</a>
                </p>
              </div>
            </form>
            
          </div>
        </div>
      </div>

    {% load static %}
    <script src="{% static 'pages/index.js' %}"></script>
</body>
  
{% endblock content %}